@media only screen and (max-width: 740px) {
  header {
    display: block;
  }
  header .social {
    display: none;
  }
  header .logo {
    max-width: 15rem;
  }
  nav .desktop {
    display: none;
  }
  nav .burgermenu {
    display: flex;
    width: 100%;
  }
  nav .burgermenu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.2rem;
  }
  nav .burgermenu a:hover {
    color: #F2B350;
  }
  nav .burgermenu .menu {
    flex-grow: 1;
  }
  .main-top {
    min-height: 25rem;
  }
  .heading {
    margin: 2rem auto;
    width: 90%;
    max-width: 70%;
  }
  .events-container {
    padding: 2rem 0;
  }
  .events-container .event-grid-wrap {
    display: block;
  }
  .events-container .event-card {
    width: 80%;
    max-width: 70%;
    margin: 1rem auto;
  }
  .events-container .event-card .img-event {
    margin: 0 auto;
  }
  .support-container .support-buttons {
    display: block;
    width: 70%;
    max-width: 60%;
    margin: 0 auto;
  }
  .support-container .support-buttons .join {
    display: block;
    margin-bottom: 2rem;
  }
  .readings-container .readings {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .readings-container .readings .card {
    border-bottom: 1px solid #F2B350;
  }
  .sched-container {
    width: 80%;
    margin: 2rem auto;
  }
  .sched-container .schedule {
    display: block;
    margin: 0 auto;
  }
  .sched-container .schedule .img-mass {
    max-height: 15rem;
  }
  .sched-container .schedule .mass-text {
    padding: 2rem;
  }
  footer .footer-top {
    display: block;
    padding: 2rem 0;
  }
  footer .footer-top .contact {
    width: 80%;
    text-align: center;
  }
  footer .footer-top .button-footer {
    width: 60%;
    max-width: 50%;
    margin-top: 2rem;
  }
  footer .poweredby .img-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  footer .poweredby .img-container img {
    height: 1.5rem;
    padding-right: 0.5rem;
  }
}
@media only screen and (min-width: 741px) {
  .readings-container .readings {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
  }
  .support-container .support-buttons {
    max-width: 60rem;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1600px) {
  .readings-container .readings {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
  }
}
@media only screen and (min-width: 741px), only screen and (min-width: 1600px) {
  .sched-container {
    width: 75%;
  }
  .sched-container .schedule .img-mass {
    max-height: 30rem;
  }
}
