@smartphone: ~"only screen and (max-width: 740px)";
@tablet: ~"only screen and (min-width: 741px)";
@large-desktop: ~"only screen and (min-width: 1401px)";
@blue: #404077;
@orange: #FF8229;
@heading-text: #565656;
@gold: #F2B350;
@beige: #FFFAF2;

@media @smartphone {
// header section 
    header {
        display: block;
        .social {
            display: none;
        }
        .logo {
            max-width: 15rem;
        }
    }
// navigation
    nav {
        .desktop {
            display: none;
        }
        .burgermenu {
            display: flex;
            width: 100%;      
            a {   
            color: white; 
            text-decoration: none;
            font-size: 1rem;
            padding: 0.2rem;
                &:hover {
                color: @gold;
                }
            }
            .menu {
                flex-grow: 1;
            }
        }
    }
// Hero image
    .main-top {
        min-height: 25rem;
    }

// headings
    .heading {
        margin: 2rem auto;
        width: 90%;
        max-width: 70%;
    }

// Upcoming Events
    .events-container {
        padding: 2rem 0;
        .event-grid-wrap {
            display: block;
        }
        .event-card {
            width: 80%;
            max-width: 70%;
            margin: 1rem auto;
            .img-event {
                margin: 0 auto;
            }
        }
    }
// Support Our Church
    .support-container {
        .support-buttons {
            display: block;
            width: 70%;
            max-width: 60%;
            margin: 0 auto;
            .join {
                display: block;
                margin-bottom: 2rem;
            }
        }
    }
// Readings for the week
    .readings-container {
        .readings {
            display: block;
            width: 80%;
            margin: 0 auto;
            .card {
                border-bottom: 1px solid @gold;
            }
        }
    }
// Mass Schedule
    .sched-container {
        width: 80%;
        margin: 2rem auto;
        .schedule {
            display: block;
            margin: 0 auto;
            .img-mass {
                max-height: 15rem;
            }
            .mass-text {
                padding: 2rem;
            }
        }
    }
// Footer
    footer {
        .footer-top {
            display: block;
            padding: 2rem 0;
           .contact {
               width: 80%;
               text-align: center;
           }
           .button-footer {
               width: 60%;
               max-width: 50%;
               margin-top: 2rem;
           }
        }
        .poweredby{
            .img-container {
                display: flex;
                width: 100%;
                justify-content: center;
                img {
                    height: 1.5rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }
}

@media @tablet {
// Readings for the week
    .readings-container {
        .readings {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1.5rem;
        }
    }
    .support-container {
        .support-buttons {  
            max-width: 60rem;
            margin: 0 auto;
        }
    }
}

@media @tablet, @large-desktop {
    .sched-container {
        width: 75%;
        .schedule {
            .img-mass {
                max-height: 30rem;
            }
        }
    }
}